# LLM
OPENAI_API_KEY=[YOUR OPEN AI KEY]

# Vector Store
PINECONE_API_KEY=[YOUR PINECONE KEY]
PINECONE_ENV=[YOUR PINECONE ENV]
PINECONE_PROJECT_ID=[YOUR PINECONE PROJECT ID]

# Plum 
VERBOSE=true
PORT=8000
PLUM_ENV=development